<!-- <div class="container-fluid">
    <h3 class="text-dark mb-4">Titre Pfe   {{InfoGroup.titre}}</h3>
    <div class="card " style="margin-bottom: 50px;"  >
<div class="card-header py-3">
<p class="text-primary m-0 fw-bold" style="border-color: rgb(0,1,4);width: 622.333px;"></p>
<div class="row">

<div class="col p-2">  <div class="text-primary m-0 fw-bold" style="border-color: rgb(0,1,4);width: 528.333px;"><strong>Encadrer By : </strong><span style="color: var(--bs-gray-900);font-size: 20px;">{{InfoGroup.nom_prof}} {{InfoGroup.prenom_prof}}</span><br /></div>
</div>

<div class="col p-2">  <div class="text-primary m-0 fw-bold" style="border-color: rgb(0,1,4);width: 528.333px;"><strong>Email : </strong><span style="color: var(--bs-gray-900);font-size: 20px;">{{InfoGroup.email_prof}}</span><br /></div>
</div>
</div>


</div>
<div class="card-body" style="height: 100%;" >
<p>Description</p>
<p>{{InfoGroup.description}}
<div>
<div class="row">
<div class="col p-2"><ul>Les etudiants<li *ngFor="let etudiant of InfoGroup.etudiant"> {{etudiant.nom}} {{etudiant.prenom}}</li></ul></div>

<div class="col  p-2">
    <p>Niveux : {{InfoGroup.niveau}}</p>
</div>
<div class="col  p-2">
    <p>Anne : {{InfoGroup.anne}}</p>
</div>
</div>
</div>
</div>
<div class="card-header"></div>
</div>
</div> -->
<app-chat-home [role]="role" [id_user]="username"></app-chat-home>