<!-- 
<form enctype="multipart/form-data">
  titre<input type="text" name="titre"  [(ngModel)]="pfe.titre" ><br>
  niveau<input type="text" name="niveau"  [(ngModel)]="pfe.niveau" ><br>
  description<input type="text" name="description"  [(ngModel)]="pfe.description"  ><br>
  annee<input type="number" name="annee"  [(ngModel)]="pfe.anne" ><br>
  <input type="checkbox" name="isString"  [(ngModel)]="pfe.stage"> <br>
  photo<input type="file" name="photo"   (change)="chargephoto($event)" ><br>
  rapport<input type="file" name="rapport"  (change)="chargerapport($event)" ><br>
  
  
  <button type="submit" class="btn btn-primary" (click)="Upload()">Submit</button>
</form> -->


<!-- --------------------------------------------------- -->

<button class="btn btn-primart" (click)="open(content,'')">Ajouter pfe Ancien</button>
<button class="btn btn-primart" (click)="open(content1,'')">nouveux pfe</button>

<!-- -----------------------modal----------------------- -->

<!-- ----------------------pfe nacien ------------------ -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="" id="">Ajouter un PFE</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data">
   
      <div class="mb-3"><input class="form-control" type="text" name="titre" placeholder="Titre"  [(ngModel)]="pfe.titre" /></div>
      <div class="mb-3"><input class="form-control " type="text" name="niveux" placeholder="Niveux"  [(ngModel)]="pfe.niveau"/></div>
      <div class="mb-3"><textarea class="form-control" name="description" placeholder="description"  [(ngModel)]="pfe.description"   rows="6"></textarea></div>
      <div class="mb-3">
        L'anne
        <input type="number"  min="2010" [max]="currentTime.getFullYear()" class="form-control" name="datepicker" id="datepicker"  [(ngModel)]="pfe.anne" />      
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="isString" id="flexCheckDefault"  [(ngModel)]="pfe.stage">
          <label class="form-check-label" for="flexCheckDefault">
            Stage
          </label>
        </div>
      </div>
      <div class="mb-3">
          <label>Rapport</label><br>
          <input type="file"  name="photo"    (change)="chargerapport($event)"  >
      </div>
      <div class="mb-3">
          <label>Photo de garde</label><br>
          <input type="file" name="photo"  (change)="chargephoto($event)"  >
      </div>
      <div class="mb-3">
        <button type="button" class="btn  btn-primary" (click)="Upload()"  (click)="modal.close('Save click')">
           <span class="btn-label"><i class="fa fa-check"></i></span>Save</button>
      </div>
      
  </form>
  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>

<!-- -----------------------------nouveux pfe -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-2">Ajouter un PFE</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data">
   
      <div class="mb-3"><input class="form-control" type="text" name="titre" placeholder="Titre"  [(ngModel)]="pfe.titre" /></div>
      <div class="mb-3"><input class="form-control " type="text" name="niveux" placeholder="Niveux"  [(ngModel)]="pfe.niveau"/></div>
      <div class="mb-3"><textarea class="form-control" name="description" placeholder="description"  [(ngModel)]="pfe.description"   rows="6"></textarea></div>
      
       
        <input type="hidden"   [value]="currentTime.getFullYear()" class="form-control" name="datepicker" id="datepicker"  [(ngModel)]="pfe.anne" />      
     
      <div class="mb-3">
        <button type="button" class="btn  btn-primary" (click)="Upload()"  (click)="modal.close('Save click')">
           <span class="btn-label"><i class="fa fa-check"></i></span>Save</button>
      </div>
  </form>
  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>




