.card-header {
  display: inherit;
}

.btn {
}

.col-button {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-button {
  display: initial;
}

.cherche {
  /*background-color: #00b16a;*/
  /*width: 100px;*/
  /*height: 50px;*/
}

.multi {
  width: 100px;
}

.cherche {
  width: 200px;
}

