<div class="container-fluid">
    <div *ngIf="grouppfe!=null" class="card shadow" style="margin-bottom: 50px;"  >
<div class="card-header py-3">
<p class="text-primary m-0 fw-bold" style="border-color: rgb(0,1,4);width: 622.333px;">Les etudiants 
    <span *ngFor="let etudiant of  grouppfe.etudiants"> {{etudiant.nom}} {{etudiant.prenom}}  m-0

    </span>   </p>
<p class="text-primary m-0 fw-bold" style="border-color: rgb(0,1,4);width: 528.333px;"><strong></strong><span style="color: var(--bs-gray-900);font-size: 20px;"></span><br /></p>
</div>
<div class="card-body" style="height: 100%;" >
<p>Description</p>
<p>{{grouppfe.description}}</p>
<div>
<div class="row">
<div class="col p-2"></div>
<div class="col  p-2"></div>
<div class="col  p-2">
    <p>Email : {{grouppfe.email}} </p>
</div>
<div class="col  p-2">
    <p>Niveux : {{grouppfe.niveau}}</p>
</div>
<div class="col  p-2">
    <p>Anne : {{grouppfe.anne}}</p>
</div>
</div>
</div>
</div>
<div class="card-header"></div>
</div>
</div>
