<!-- <div style="width: 100%; min-height: 480px;" class="message-col">
    <div id="msg-container" class="message-container overflow-auto" style="height: 500px;">
      <div *ngFor="let message of filteredMessages" class="message-item"
        [style.background]="message.sender === username ? 'rgba(80,150,220, 0.4)':'rgba(150,150,150, 0.3)'">
        <div mat-list-icon>chat</div>
        <h4 mat-line><b>{{message.sender === username ? 'You': message.sender}}</b>: {{message.content}}</h4>
        <div *ngIf="message.fichier!==null">
          <div >{{message.type}}</div><button  (click)="Doawload(message.fichier,message.type,message.type=='Rapport'?'PDF':'PNG')"> Download</button>
        </div>
      </div>
    </div>
  </div>
  
  <div style="width:100%; height: 40px;">
    <div style="width: 85%;">
      <form  enctype="multipart/form-data">
        <input matInput name="fichier" placeholder="New message" [disabled]="channel === null || channel === undefined"
        class="message-input" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 ? sendMessage() : null">
        <input type="file" name="file"   (change)="chargerapport($event)"><br>
        <select  [(ngModel)]="newTyp" name="type">
          <option>Rapport</option>
          <option>Page de garde</option>
        </select>
      </form>
      
    </div>
    <button mat-raised-button [disabled]="channel === null || channel === undefined" style="width: 13%;"
      (click)="sendMessage()">Send</button>
  </div>
 -->




































 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InscriptionGroup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luxurious+Roman&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Paprika&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <div  id="msg-container" class=" message-container overflow-auto" style="height:500px ; border-color:blue">
      <div *ngIf="channel != null || channel != undefined">
        <div    class="row" style="margin-bottom:10px;border-radius:30px;" *ngFor="let message of filteredMessages">
            <div class="col-6 offset-lg-0 "  [style]="message.sender === username ? 'background-color:var(--bs-light);;order:0;':'background-color:rgba(150,150,150, 0.3);order:1;'">
                <p class="text-break"><strong>{{message.sender === username ? 'You :': message.sender+' :'}}</strong>{{message.content}}</p>
                <ul *ngIf="message.fichier!==null||message.type">
                    <li><strong>Type </strong>: {{message.type}}</li>
                    <li><a role="button" (click)="Doawload(message.fichier,message.type,message.type=='Rapport'?'PDF':'PNG')">Telecharger</a></li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>
  </div>
    <div style="width: 762px;"></div>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="message" style="border-width: 0px;border-color: var(--bs-purple);height: 359.688px;">
        <div class="offcanvas-body">
            <div class="d-flex d-md-flex justify-content-center justify-content-md-end"><button class="btn btn-primary" type="button" data-bs-dismiss="offcanvas"><i class="fas fa-chevron-circle-down fs-1"></i></button></div>
            <div class="container w-75">
                <form style="margin-top: 0px;">
                    <div class="control-group" style="margin-top: 42px;">
                        <div class="mb-0 form-floating controls pb-2"><textarea  [(ngModel)]="newMessage" name="e3" class="form-control"></textarea><label class="form-label" style="width: 65.5625px;font-family: Actor, sans-serif;">Message</label><small class="form-text text-danger help-block"></small></div>
                    </div><input class="form-control"  (change)="chargerapport($event)" type="file"><select [(ngModel)]="newTyp" (keyup)="$event.keyCode == 13 ? sendMessage() : null" name="type" class="form-select" style="margin-top: 9px;">   
                            <option >page de garde</option>
                            <option >Rapport</option>
                    </select>
                    <div class="d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center"><button  (click)="sendMessage()" class="btn btn-primary" type="button" style="margin-top: 15px;margin-bottom: 8px;" >Envoyer&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-send-fill fs-1">
                                <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65l-.095.038L.767 5.854l-.001.001-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.563 2.903.432.275.275.432 2.903 4.563.002.002.26.41a.5.5 0 0 0 .886-.083l.181-.453L15.926.78l.038-.095Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z"></path>
                            </svg></button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center w-25 fixed-bottom" style="margin-bottom: 17px;"><button class="btn btn-primary" type="button" data-bs-target="#message" data-bs-toggle="offcanvas"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-send-plus-fill fs-1">
                <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494ZM16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"></path>
            </svg></button></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>